@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
    /* --frame-width: */
    --frame-radius: .3px;

    /* button properties */
    --btn-border: .8px;
    --btn-border-radius: .1px;

    /* font weight */
    --header-font-weight: 600;
    --clear-body-font-weight: 540;
    --card-font-weight: 550;
    --footer-font-weight: 400;

    /* link on white */
    --primary-link-hover-color: #4e92e1;


    /* for icons */
    --icon-transition: .4s;

}


@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}




html body{
    font-family: 'Ubuntu', sans-serif;
    x-overflow: hidden;
}

.nav-item a:hover{
    color: var(--primary-link-hover-color) !important;
    /*text-decoration: underline;*/
}


.main-content .btn{
    border-radius: var(--btn-border-radius);
}

.about-me{
    width: 100%;
    background-color: #000;
}



.python-projects{
    margin-top: 300px;
}


.python-project-link .btn{
    border-radius: var(--btn-border-radius);
}


.python-projects img{
    max-width: 130%;
    height: auto;
}



.container-max{
    background-color: #191919;
    margin-top: 300px;
    color: #fff;
}

.container-max .web-projects{
   margin-top: 300px !important;
}


#web-projects .title{
    padding-top: 150px;
}


.container-max .social-media{
    margin-top: 350px !important;
}

.media-icons{
    font-size: 40px;
    margin-top: 70px;
    color: #fff;
}


.github, .bi-twitter, .bi-facebook, .bi-instagram, .bi-telegram{
    transition: var(--icon-transition);
    animation: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}



.github:hover{
    color: #b8b8b8;
}
.bi-twitter:hover{
    color: #1da1f2;
}
.bi-telegram:hover{
    color: #0088cc;
}
.bi-instagram:hover{
    color: #b333a6;
}
.bi-facebook:hover{
    color: #4267B2;
}


.media-icons a{
    color: #fff;
}